<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 自动扫描 -->
    <!-- 自动扫描该包 -->
    <context:component-scan base-package="com.cn.service"/>
    <context:component-scan base-package="com.cn.dao"/>
    <context:component-scan base-package="com.cn.exception"/>





    <!-- 读取配置文件信息 -->
    <context:property-placeholder ignore-unresolvable="true" location="classpath:*.properties"/>
    <import resource="classpath:spring-content-timer.xml"/>
    <import resource="classpath:spring-content-redis.xml"/>
    <import resource="classpath:spring-content-tx.xml"/>
    <import resource="classpath:spring-content-es.xml"/>

  <!--  <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        &lt;!&ndash;线程安全的访问session&ndash;&gt;
        <property name="synchronizeOnSession" value="true"/>
        <property name="customArgumentResolvers">
            <list>
                <bean class="com.cn.annotation.RequestJsonParamMethodArgumentResolver"/>
                <bean class="com.cn.annotation.FormModelMethodArgumentResolver"/>
            </list>
        </property>
    </bean>-->



</beans>